@media only screen and (max-width: 557px) {
  body {

    > div.main {
      padding: 0 15px !important;

      > form {
        margin-bottom: 50px !important;
      }
    }

    div#footer {
      justify-content: center !important;

      div.left {
        justify-content: center !important;
      }
    }
  }
}