@font-face {
    font-family: Sahel;
    src: url('font/Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'), url('Sahel.woff') format('woff'), url('Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('font/Sahel-Bold.eot');
    src: url('Sahel-Bold.eot?#iefix') format('embedded-opentype'), url('Sahel-Bold.woff') format('woff'), url('Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('font/Sahel-Black.eot');
    src: url('Sahel-Black.eot?#iefix') format('embedded-opentype'), url('Sahel-Black.woff') format('woff'), url('Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

body {
    background-color: white;
    color: #333333;
    font-family: Sahel;
}

#logo {
    margin-top: -1em;
    position: relative;
    top: 2em;
}

.logo {
    color: #444444;
    font-size: 1.5em;
    font-family: Sahel;
    font-weight: 900;
}

input {
    -moz-box-sizing: content-box;
    font-family: inherit;
}

input.text {
    background: none repeat scroll 0 0 white;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: black;
    font: 18px arial, sans-serif bold;
    height: 25px;
    margin: 0;
    padding: 5px 8px 0 6px;
    vertical-align: top;
}

input.text:focus {
    outline: medium none;
}

input#search,
input#lucky {
    background: url("http://www.google.com/images/srpr/nav_logo13.png") repeat scroll center bottom transparent;
    border: medium none;
    color: black;
    cursor: pointer;
    font: 15px arial, sans-serif;
    height: 30px;
    margin: 0;
    outline: 0 none;
    vertical-align: top;
}

.button_wrapper {
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    display: inline-block;
    margin: 3px 0 4px 4px;
}

.button_wrapper .inner {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 30px;
}

#fake_mouse {
    left: 100px;
    position: absolute;
    top: 100px;
}

#instructions {
    background: url("images/instructions_bg.png") no-repeat scroll center top transparent;
    color: #999999;
    font-size: 1.1em;
    height: 84px;
    margin-top: 40px;
    direction: rtl;
}

#instructions div {
    line-height: 84px;
}

#link_placeholder {
    height: 90px;
}

#link {
    display: none;
    padding-bottom: 28px;
    position: absolute;
}

input.link {
    background-color: #F4FBFF;
    border: 1px solid #C2C9FF;
    color: #555555;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    width: 312px;
}

#footer {
    border-top: 1px solid #DDDDDD;
    color: #999999;
    margin-top: 40px;
    padding-top: 0.5em;
    text-align: center;
}

#footer a {
    color: #999999;
    padding: 0 1em;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#about {
    color: #666666;
    margin-top: 0.5em;
    text-align: center;
}

#language {
    background: url("/images/worldwide.png") no-repeat scroll center center white;
    color: #666666;
    margin-top: 1em;
    text-align: center;
}

#language select {
    opacity: 0;
    width: 200px;
}

#copyright {
    background-color: white;
    color: #BBBBBB;
    font-size: 0.75em;
    margin-top: 40px;
    padding: 0.25em;
    text-align: center;
}

#link_buttons,
#link_message {
    display: none;
    position: absolute;
}

a.link_button {
    background: url("images/link_button.png") no-repeat scroll center center transparent;
    color: white;
    display: block;
    float: left;
    font-size: 0.8em;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

a.link_button:hover {
    background-image: url("images/link_button_hover.png");
}

#link_message {
    background: url("images/link_message.png") repeat scroll 0 0 transparent;
    color: white;
    font-size: 1em;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 332px;
    z-index: 99;
}

#sponsor {
    display: none;
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center;
}

#sponsor img {
    border: medium none;
}

#sponsor .bsap {
    text-align: center;
    width: 100%;
}

#sponsor .bsap a {
    display: inline-block;
    height: 125px;
    margin: 10px;
    width: 125px;
}

#sponsor .bsap a img {
    vertical-align: middle;
}

#sponsor .bsap a.adhere {
    background-color: #CCCCCC;
    color: #888888;
    line-height: 125px;
}

#sponsor .bsap a.adhere:hover {
    background-color: #AAAAAA;
    color: #666666;
}

.c2 {
    direction: rtl;
    font-weight: 900;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: Sahel;
}

.tooltip button{
    font-family: Sahel;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: Sahel;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-family: Sahel;
}